.container{ 
    display: flex; 
    flex-wrap:wrap;
   
    justify-content:space-evenly; 
}



 .item {
     position: relative;
 }   

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:black;
    opacity: 0;
       }

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity:0.3;
}
       
h1{
    color:powderblue;
}

